@font-face {
  font-family: norse;
  src: url(./assets/Norse-Bold.otf);
}

:root {
  --primary-color: #7fc9a6;
}

body, 
.title-wrapper,
.left,
.right,
.nameRow,
.contactRow,
.passwordRow {
  display: flex;
}

body {
  margin: 0px;
  min-width: 400px;
  flex-wrap: wrap;
}

.body,
.left,
.right {
  height: 100vh;
  flex-direction: column;
}

.left {
  width: 35%;
  background-image: url(./assets/johny-goerend-northern-lights.jpg);
  background-size: 640px 860px;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

.right {
  width: 65%;
  background-color: rgb(128, 128, 128, .1);
}

.title-wrapper,
.form-wrapper,
.right {
  justify-content: center;
}

.title-wrapper {
  align-items: center;
  height: 128px;
  width: 100%;
  background-color: rgb(0, 0, 0, .5);
  margin-top: 35%;
}

.odin-logo {
  width: auto;
  height: 108px;
}

.odin-title {
  font-family: norse;
  color: white;
}

.left a,
.credit {
  color: white;
  margin: auto 0px 12px 0px;
  font-size: .75rem;
}

.info>*,
.form-wrapper>*,
.account>* {
  max-width: 70%;
  margin-left: 5%;
}

/*
.info {
  margin-top: 20%;
}
*/
.form-wrapper {
  background-color: white;
  width: 100%;
  padding: 2% 0;
  box-shadow: 0 4px 2px var(--primary-color);
}

input, label {
  display:block;
}

button {
  background-color: var(--primary-color);
  color:white;
  margin-top: 5%;
  padding: 8px 36px;
  border-radius: .25rem;
}

.stack {
  margin-right: 10%;
  margin-bottom: 8px;
}

.formPara {
  margin-top: 0;
}

input:focus {
  border: 2px solid var(--primary-color);
}

.right a {
  color: var(--primary-color);
}

.info>p {
  font-size: 1.25rem;
}

form {
  font-size: .75rem;
}

.form-wrapper>p {
  font-size: 1.125rem;
}

.primaryPara {
  color: var(--primary-color);
}